@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #a18a68;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-dark: #707070;
  --color-grey: #d8d8d8; 
  --color-grey-light: #efefef; 
  --color-error: #D82700;
    scroll-behavior: smooth;
  }
@media screen and (max-width: 600px) {
  :root{
    font-size: 90%;
  }
  
}

body {
  background-color: var(--color-white);
}
