@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #a18a68;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-dark: #707070;
  --color-grey: #d8d8d8; 
  --color-grey-light: #efefef; 
  --color-error: #D82700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: var(--color-white);
}
